
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #04274d, #3a5e98); 
    padding-top: 20px;
    margin: 0;
    color: #fff; 
}
header img {
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; 
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: #ffffff; 
}
.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.container:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.noticia-card h4 {
    font-weight: bold;
    margin-top: 0;
    color: #000; 
}
.noticia-card p {
    color: #666;
}
.noticia-card img {
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}
.btn-leia-mais {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
.btn-leia-mais:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
